<!-- <div class="form-group">
                                        {{form.email.label(class="label")}}<br/>
                                        {% if form.email.errors %}
                                            {{form.email(class="form-control input is-invalid")}}
                                            <div class="invalid-feedback">
                                                {% for error in form.email.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{form.email(class="form-control input")}}
                                        {% endif %}
                                    </div>
                                 -->
                                
                                
                                    <!-- <div class="form-group">
                                        {{form.password.label(class="label")}}<br/>
                                        {% if form.password.errors %}
                                            {{form.password(class="form-control input is-invalid")}}
                                            <div class="invalid-feedback">
                                                {% for error in form.password.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{form.password(class="form-control input")}}
                                        {% endif %}
                                    </div>
                                
                                
                                    <div class="form-group">
                                        {{form.confirm_password.label(class="label")}}<br/>
                                        {% if form.confirm_password.errors %}
                                            {{form.confirm_password(class="form-control input is-invalid")}}
                                            <div class="invalid-feedback">
                                                {% for error in form.confirm_password.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{form.confirm_password(class="form-control input")}}
                                        {% endif %}
                                    </div>
                                
                                
                                    <div class="form-group">
                                        {{form.shopname.label(class="label")}}<br/>
                                        {% if form.shopname.errors %}
                                            {{form.shopname(class="form-control input is-invalid")}}
                                            <div class="invalid-feedback">
                                                {% for error in form.shopname.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{form.shopname(class="form-control input")}}
                                        {% endif %}
                                    </div>
                                
                                    <div class="form-group">
                                        {{form.propreitername.label(class="label")}}<br/>
                                        {% if form.propreitername.errors %}
                                            {{form.propreitername(class="form-control input is-invalid")}}
                                            <div class="invalid-feedback">
                                                {% for error in form.propreitername.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{form.propreitername(class="form-control input")}}
                                        {% endif %}
                                    </div>
                                
                                    <div class="form-group">
                                        {{form.mobilenumber.label(class="label")}}<br/>
                                        {% if form.mobilenumber.errors %}
                                            {{form.mobilenumber(class="form-control input is-invalid")}}
                                            <div class="invalid-feedback">
                                                {% for error in form.mobilenumber.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{form.mobilenumber(class="form-control input")}}
                                        {% endif %}
                                    </div>
                                
                                    <div class="form-group">
                                        {{form.place.label(class="label")}}<br/>
                                        {% if form.place.errors %}
                                            {{form.place(class="form-control input is-invalid")}}
                                            <div class="invalid-feedback">
                                                {% for error in form.place.errors %}
                                                    <span class="display-error">{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{form.place(class="form-control input")}}
                                        {% endif %}
                                    </div>        -->
                            <!-- <div >
                                {{form.submit(class='button btn btn-primary btn-block')}}
                            </div> -->