{% extends "layout.html" %}
{% block content %}
        <div class="page-content container">
            <div class="row">
                <div class="col">
                    <form class="form-container" id="form" method="POST" action="">
                        {{form.hidden_tag()}}
                        <fieldset class="loginbox">
                            <h1 class="heading">Login</h1>
                                <!-- usertype -->
                        <div class="form-group">
                            {{form.username.label(class="label")}}<br/>
                            {% if form.username.errors %}
                                {{form.username(class="form-control input is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.username.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{form.username(class="form-control input")}}
                            {% endif %}
                        </div>
                        
                        <div class="form-group">
                            {{form.password.label(class="label")}}<br/>
                            {% if form.password.errors %}
                                {{form.password(class="form-control input is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{form.password(class="form-control input")}}
                            {% endif %}
                        </div>
                        </fieldset>
                        <div>
                            {{form.remember}}
                        </div>
                        <div>
                            {{form.submit(class='button btn btn-primary btn-block')}}
                        </div>
                        <div ><br/><small>Don't have an account <a href="#">Register</a></small></div>
                    </form>
                </div>
            </div>
        </div>
 {% endblock content %}   
 