{% extends "layout.html" %}
{% block content %}
<div>
    <div class="page-content">
        <div class="container-fluid loginbox ">
            <div class="row justify-content-center">
                <div class="col-6 col-md-4">
                    <form class="form-container" id="form" method="POST" action="">
                        {{form.hidden_tag()}}
                        <fieldset class="loginbox">
                            <h1 class="heading">Address</h1>
                            <!-- phone number -->
                            <div class="form-group">
                                {{form.phone_number.label(class="label")}}<br />
                                {% if form.phone_number.errors %}
                                {{form.phone_number(class="form-control input is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.phone_number.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{form.phone_number(class="form-control input")}}
                                {% endif %}
                            </div>

                            <!-- street address -->
                            <div class="form-group">
                                {{form.street_address.label(class="label")}}<br />
                                {% if form.street_address.errors %}
                                {{form.street_address(class="form-control input is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.street_address.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{form.street_address(class="form-control input")}}
                                {% endif %}
                                {{form.street_address.description}}
                            </div>
                            <!-- district -->
                            <div class="form-group">
                                {{form.district.label(class="label")}}<br />
                                {% if form.district.errors %}
                                {{form.district(class="form-control input is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.district.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{form.district(class="form-control input")}}
                                {% endif %}
                                {{form.district.description}}
                            </div>
                            <!-- pincode -->
                            <div class="form-group">
                                {{form.pincode.label(class="label")}}<br />
                                {% if form.pincode.errors %}
                                {{form.pincode(class="form-control input is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.pincode.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{form.pincode(class="form-control input")}}
                                {% endif %}
                            </div>
                        </fieldset>
                        

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}